@use './variables' as *;

@use './variables' as *;

.app-shell {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $space-4;

  background:$color-white;
}
.screen {
  width: 100%;
  max-width: 420px; // tamaño móvil real
  min-height: 90vh;

  border-radius: $radius-xl;
  padding: $space-4;

  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(20px);

  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
}